# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Data directories to exclude
data/processed/
data/intermediate/

# Allow raw data to be versioned
!data/raw/